<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deletion Successful</title>
  <link rel="stylesheet" href="/styless.css">
</head>
<body>
  <h1>Deletion Successful</h1>
  <p>All NFL QB data has been deleted. Number of records deleted: <%= deletedCount %></p>
  <a href="/">Back to Home</a>
</body>
</html>
